/* =====================================
   File: main.css
   Purpose:
   - Defines the main changes of the overall theme like font family, color,
    background.
===================================== */
/* This is the main body css changes */
body{
    width: 100vw;
    height: 100vh;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
}
/* This is css root variables */
:root{
    --border-none:none;
    --border-2px-black:2px solid black;
}